/* GENERAL STUFF */
.GeneralButton {
    margin-top: 5px;
    background-color: #1992E0;
    color: white;
    padding: .7vw 1vw;
    min-width: 10vw;
    margin-right: 5px;
    border: none;
}

.GeneralForm {
    border: 1px solid gray;
    padding: 2vw 2vw;
    border-radius: 10px;
    min-width: 40vw;
}

.GeneralForm input {
    outline: none;
    width: 20vw;
    padding: .5vw 1vw;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 10px;
}
/* -------- General Table Stuff */
.GeneralTable {
    margin-top: 5vw;
    border: 2px solid gray;
    padding: 3vw;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(56,76,92);
    color: white;
}

.GeneralTable table {
    text-align: center;
    width: 80vw;
}

.GeneralTable table tr,
.GeneralTable table th {
    border: 2px solid gray;
}

.GeneralTable table td,
.GeneralTable table th {
    padding-top: 1vw;
    padding-bottom: 1vw;
    box-sizing: border-box;
}

.GeneralTable table button {
    border: none;
    color: white;
    background-color:  #13669e;
    padding: 10px 10px;
    border-radius: 10px;
}
.GeneralTable table button:hover{
    background-color: #0f8bde;
}

/* ================= */

.GeneralForm {
    border: 1px solid gray;
    padding: 2vw 2vw;
    border-radius: 10px;
    min-width: 40vw;
}

.GeneralForm input {
    outline: none;
    width: 20vw;
    padding: .5vw 1vw;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 10px;
}

.GeneralForm textarea {
    width: 20vw;
}

.GeneralInput {
    outline: none;
    width: 20vw;
    padding: .3vw 1vw;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 5px;
}

.GeneralForm select {
    width: 20vw;
    padding: .5vw 1vw;
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* ============= */
.SmallModal {
    background-color: #63727f;
    color: white;
    box-sizing: border-box;
    width: 50vw;
    height: 30vw;
    position: absolute;
    top: 18%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.BigModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BigModal .bigModalInner {
  width: 60vw;
  height: 80%;
  background-color: #09578b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0vw 2vw 0vw 2vw;
  padding-bottom: 2vw;
  color: white;
}

/* ===============FORM LAYOUT============= */
/* ==========FORM LAYOUT========== */
.registeration-form-page{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(10, 106, 141) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .registeration-form-page .inner-left{
    color: white;
    width: 30vw;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .registeration-form-page .inner-left p, h2{
    width: 27vw;
  }
  .registeration-form-page .inner-left button{
    width: 15vw;
    padding: .5vw 2vw;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .registeration-form-page .inner-right{
    width: 67vw;
    margin-right: 3vw;
    float: right;
    height: 90vh;
    background-color: white;
    border-radius: 12vw 0vw 0vw 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registeration-form-page .inner-right form input{
    outline: none;
    border-radius: 5px;
    border: 1px solid #b0b2b5;
    padding: .5vw 2vw;
  }
  .registeration-form-page .inner-right button{
    width: 15vw;
    margin-top: 3vw;
    background-color: rgb(10, 106, 141);
    color: white;
  }

  

/* ==================HOME PAGE================= */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HomeInner{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HomeImageSection{
    width: 100vw;
    height: 80vh;
    background-color: #56a580;
}
.HomeImageSection img{
    width: 100%;
    height: 100%;
}

/* Headline */
.headline{
    width: 100%;
    margin: 4vw 0 4vw 0;
}
.lineDiv{
    height: .4vw;
    background-color: #3286be;
}
.LineHeading{
    background-color: #052134;
    color: white;
    font-size: 2vw;
    margin-left: .5vw;
    width: 10vw;
    text-align: center;
}


/* =================HOME >> NOTIFICATION=============== */
.Notification{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}
.NotifCard{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  background-color: white;
}
.notifCardLine{
  background-color: #3da2e5;
  height: .3vw;
  border-radius: 10px 10px 0px 0px;
}
.NotifCard h4{
  background-color: #09578b;
  width: 8vw;
  text-align: center;
  margin-left: 1vw;
  color: white;
}
.NotifCardInnerLines{
  padding-left: 2vw;
}
.NotifCardInnerLines .borderLine{
  height: 2px;
  width: 80%;
  background-color: gray;
}
.NotifRight .NotifCard h4{
  width: 15vw;
}
/* =======SERVICE CARDS=========== */
.serviceCardsDiv{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}
.serviceCard{
    width: 18vw;
    height: 18vw;
    /* border: 2px solid #052134; */
    background-color: #052134;
    color: white;
    cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.serviceCard h6 {
    background-color: #0f8bde;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceCard img{
    width: 100%;
    height: 80%;
}

/* WELCOME PAGE */
.welcomePage{
    background-color: aqua;
    border: none;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* REGISTER VEHICLE */
.RegisterVehicle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 5vh;
    width: 100%;
}
.RegisterVehicle > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.RegisterVehicle div form  {
    width: 80%;
    display: flex; 
    /* flex-direction: column; */
    padding: 5vw;
    border: 2px solid gray;
}

/* ===========MY VEHICLES======== */
.MyVehicles {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.MyVehicles > div {
    width: 85vw;

}

/* Authority Side Style */
.SearchModal form{
    display: flex;
    flex-direction: column;
}
.SearchModal form button {
    margin-top: 10px;
    width: 10vw;
    background-color: #0f8bde;
}

/* ==============PAY TAX============= */
.PayTax{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.PayTax form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ===============SELL VEHICLE============= */
.SellVehicleModal{
   display: flex;
   align-items: center;
   justify-content: center;
}
.SellVehicleModal form {
  display: flex;
  flex-direction: column;

}

/* ===============FOOTER LAYOUT============= */

/* =================FOOTER================= */
.footerLayout{
    background-color: #323E48;
  }
  .Row1{
    width: 100%;
    display: flex;
  }
  .Row1 .logo{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .footerLayout-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footerLayout .logo img{
    width: 10vw;
    height: 5vw;
    /* border-radius: .5vw .5vw; */
  }
  /* .footerLayout .icons{
    margin-top: 3vw;
  } */
  .footerLayout .icons > * {
    color: white;
    font-size: 25px;
    margin-right: 2vw;
  }
  .footerLayout .footerMenu{
    list-style: none;
    color: white;
    font-weight: 500;
    display: flex;
    margin-top: 1vw;
  }
  .footerLayout .footerMenu li{
    margin-right: 2vw;
  }
  .Row2 {
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
  }
  .Row2 .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* justify-content: center; */
  }
  .Row2 .services h3{
    font-weight: 500;
  }
  .Row2 .services div{
    text-align: center;
    margin-top: 1vw;
  }
  /* .Row2 .services div p{
    line-height: 15px;
  } */
  .Row2 .contactInfo{
    color: white;
    width: 43vw;
  }
  .contactBox{
    display: flex;
    color: rgb(204, 196, 196);
  }
  .contactBox i > *{
    font-size: 3vw;
    color: rgb(157, 150, 150);
  }



/* ==============GET OWNERSHIP================ */
.TransferOwnerShipModal{
  display: flex;
  flex-direction: column;
  
}
.TransferOwnerShipModal form {
  display: flex;
  flex-direction: column;
  background-color: #09578b;
  width: 50vw;
  height: 30vw;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 0 15px ;
}


/* =================OUR TEAM======================= */
.Team {
  /* background-color: #d0dee8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 70vh; */
}

.team-heading {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: .5vw 2vw;
  text-align: center;
  border-radius: 2vw;
  margin-top: 3vw;
}

.team-heading h5 {
  color: gray;
}

.teamBoxes {
  width: 90%;
  margin-bottom: 4vw;
}

.teamBoxes > div {
  display: flex;
  margin-top: 3vw;
  justify-content: space-around;
  /* align-items: ; */
}

.teamBoxes .box {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 20vw;
  height: 22vw;
  border-radius: 40px 40px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamBoxes .box .imageDiv {
  height: 50%;
}

.teamBoxes .box .imageDiv img {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}

.teamBoxes .firstRow .box:nth-child(1) h4 {
  color: #354bb8;
}
.teamBoxes .firstRow .box:nth-child(2) h4 {
  color: #ff4800;
}
.teamBoxes .firstRow .box:nth-child(3) h4 {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(1) h4 {
  color: #ff4800;
}
.teamBoxes .secondRow .box:nth-child(2) h4 {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(3) h4 {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(4) h4 {
  color: #ff4800;
}

.teamBoxes .box h6 {
  color: gray;
}
.teamBoxes .box .socialIcons {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 70%;
  display: flex;
  padding: .5vw 1vw;
  margin: 1vw 0vw;
  border-radius: 20px;
  justify-content: space-around;
}
.teamBoxes .box .socialIcons i {
  cursor: pointer;
}
.teamBoxes .firstRow .box:nth-child(1)  i > * {
  color: #354bb8;
}
.teamBoxes .firstRow .box:nth-child(2)  i > * {
  color: #ff4800;
}
.teamBoxes .firstRow .box:nth-child(3)  i > * {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(1)  i > * {
  color: #ff4800;
}
.teamBoxes .secondRow .box:nth-child(2)  i > * {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(3)  i > * {
  color: #354bb8;
}
.teamBoxes .secondRow .box:nth-child(4)  i > * {
  color: #ff4800;
}


/* ============ABOUT US============ */
.mainPage {
  opacity: .8;
  display: flex;
  height: 90vh;
}

.mainPageRight {
  width: 50%;
}

.mainPageRight img {
  width: 100%;
  height: 100%;
  opacity: .8;
}

.mainPageLeft {
  width: 50%;
  height: 100%;
}

.mainPageLeft>div {
  width: 80%;
  margin-left: 7vw;
}

.mainPageLeft h5 {
  margin-top: 3vw;
}
