/* ==============HEADER COMPONENT================== */
.defaultLayout{
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header{
  background-color: rgb(45, 172, 231);
  display: flex;
  justify-content: center;
  height: 11vw;
}
.header .inner{
  box-sizing: border-box;
  background-color: white;
  width: 85vw;
  height: 8vw;
  border-radius: 0px 0px 1.2vw 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner > .logosDiv {
  display: flex;
}
.header .inner > .logosDiv img:first-child {
  width: 100px;
}
.header .inner > .logosDiv img:nth-child(2) {
  width: 220px;
}
.header .inner > .logosDiv > img{
  /* width: 25vw; */
  height: 6vw;
  /* margin-left: 2vw; */
}
.header .inner ul {
  display: flex;
  list-style-type: none;
  font-weight: bold;
  justify-self: flex-end;
  margin-top: 1.5vw;
  margin-right: 2.5vw;
}
.header .inner ul li {
  cursor: pointer;
}
.header .inner ul li:not(:first-of-type){
  margin-left: 1.5vw;
}
.header .inner .buttonGroup{
  display: flex;
}

.header .inner button{
  margin: 1vw;
  padding: 1.2vw 0vw;
  width: 10vw;
  border: none;
  border-radius: 5vw;
}
.header .inner .buttonGroup img{
  width: 5vw;
  height: 5vw;
}
.header .inner .buttonGroup .userBar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 5px;
}
.header .inner .buttonGroup .userBar h6{
  margin-top: 10px;
}
.header .inner .buttonGroup :nth-child(1){
  /* background-color: rgb(221, 221, 226); */
}
.header .inner .buttonGroup :nth-child(2){
  background-color: rgb(45, 172, 231);
  color: white;
}
.becomeProviderBtn{
  padding: 1.2vw 12vw;
  background-color: #323E48;
}
.content{
  min-height: 90vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.HeaderLayout{
  box-sizing: border-box;
  width: 100%;
  padding: 1.5vw 1vw;
  margin: 0;
  overflow-y: hidden;
  background-color: #0fa7de;
}
.HeaderLayout-Inner{
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.HeaderLayout-Inner img {
  width: 10vw;
  height: 5vw;
}
.header .inner .button{
  width: 10vw;
  background-color: rgb(16, 16, 91);
}
/* .header .inner img{
  width: 10vw;
  height: 10vw;
} */
.content{
  height: 90vh;
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ==============FOOTER ================== */
:root {
  --primaryColor: #7a63f1;
  --secondaryColor: #ebe8fc;
  --textColor: #a3a3a3;
  --greyColor: #f4f4f4;
  --whiteColor: #f5f4fa;
  --blackColor: #434344;
}

.footer {
  padding-top: 4rem;
  background-color: #323E48;
  color: white;
  
}
.footer .footerContainer .footerMenuDiv {
  padding: 2rem;
  border-radius: 10px;
  gap: 1.5rem;
  display: flex;
}
.footer .footerContainer .footerMenuDiv .singleGrid .footerTitle {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 21px;
  font-weight: 700;
}
.footer .footerContainer .footerMenuDiv .singleGrid .footerUI {
  gap: 5px;
}
.footer .footerContainer .footerMenuDiv .singleGrid .footerUI .footerLi {
  font-size: 18px;
}
.footer .footerContainer .footerMenuDiv .singleGrid .footerUI .footerLi:hover {
  transform: translateX(5px);
  transition: 0.3s;
}
.footer .footerContainer .lowerSection {
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 520px) {
  .footer .footerContainer .footerMenuDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .footerContainer .footerMenuDiv .singleGrid {
    margin: auto;
  }
  .footer .footerContainer .footerMenuDiv .singleGrid .footerTitle {
    font-size: 17px;
  }
  .footer .footerContainer .footerMenuDiv .singleGrid .footerUI {
    gap: 5px;
  }
  .footer .footerContainer .footerMenuDiv .singleGrid .footerUI .footerLi {
    color: var(--textColor);
  }
  .footer .footerContainer .lowerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 770px) {
  .footer .footerContainer .footerMenuDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .footer .footerContainer {
    padding: 2rem 0;
  }
  .footer .footerContainer .footerMenuDiv {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=Footer.css.map */