/* ==============HEADER COMPONENT================== */
.defaultLayout{
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header{
  background-color: rgb(45, 172, 231);
  display: flex;
  justify-content: center;
  height: 11vw;
}
.header .inner{
  box-sizing: border-box;
  background-color: white;
  width: 85vw;
  height: 8vw;
  border-radius: 0px 0px 1.2vw 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner > img{
  width: 25vw;
  height: 6vw;
  margin-left: 2vw;
}
.header .inner ul {
  display: flex;
  list-style-type: none;
  font-weight: bold;
  justify-self: flex-end;
  margin-top: 1.5vw;
  margin-right: 2.5vw;
}
.header .inner ul li {
  cursor: pointer;
}
.header .inner ul li:not(:first-of-type){
  margin-left: 1.5vw;
}
.header .inner .buttonGroup{
  display: flex;
}

.header .inner button{
  margin: 1vw;
  padding: 1.2vw 0vw;
  width: 10vw;
  border: none;
  border-radius: 5vw;
}
.header .inner .buttonGroup img{
  width: 5vw;
  height: 5vw;
}
.header .inner .buttonGroup .userBar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 5px;
}
.header .inner .buttonGroup .userBar h6{
  margin-top: 10px;
}
.header .inner .buttonGroup :nth-child(1){
  /* background-color: rgb(221, 221, 226); */
}
.header .inner .buttonGroup :nth-child(2){
  background-color: rgb(45, 172, 231);
  color: white;
}
.becomeProviderBtn{
  padding: 1.2vw 12vw;
  background-color: #323E48;
}
.content{
  min-height: 90vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.HeaderLayout{
  box-sizing: border-box;
  width: 100%;
  padding: 1.5vw 1vw;
  margin: 0;
  overflow-y: hidden;
  background-color: #0fa7de;
}
.HeaderLayout-Inner{
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.HeaderLayout-Inner img {
  width: 10vw;
  height: 5vw;
}
.header .inner .button{
  width: 10vw;
  background-color: rgb(16, 16, 91);
}
/* .header .inner img{
  width: 10vw;
  height: 10vw;
} */
.content{
  height: 90vh;
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ==============REGISTERATION FORM================== */